<input type="text" name=""car-color [(ngModel)]="carColor">

<ul>
  <!--<li *ngFor="let city of cities">{{city}}</li>-->
  <!--<li *ngFor="let city of getCities() let i = index;">City : {{i+1}} {{city}}</li>-->
  <!--
  <li *ngFor="let city of getCities(); first as isFirst">
      <span *ngIf="isFirst">{{city}}</span>
  </li>
  -->
  <li *ngFor= "let car of cars | color:carColor">
    <span>Color : {{car.color}}</span>
    <span> Name : {{car.name | uppercase}}</span>
    <span> Purchased: {{car.purchased | date: 'dd/MMMM/yyy' | uppercase}}</span>
  </li>

</ul>

<button type="button" (click)="addCar()">Add Car</button>

<h1 appHighlight="blue" secondaryColor="green">Hello World</h1>
<h1 *appUnless="false">Hello Too</h1>