<h1>Profile Editor</h1>

<form (ngSubmit)="onSubmit" [formGroup]="profileForm">
  <div>
    <label for="">First Name</label>
    <input type="text" formControlName="firstName">
  </div>
  <br>
  <div>
    <label for="">Last Name</label>
    <input type="text" formControlName="lastName">
  </div>
  <br>
  <div formGroupName="address">
    <div>
      <label for="">Zip</label>
      <input type="text" formControlName="zip">
      <label for="">City</label>
      <input type="text" formControlName="city">
      <label for="">State</label>
      <input type="text" formControlName="state">
    </div>
  </div>

  <button type="submit">Submit</button>
</form>