/* Add application styles & imports to this file! */

body{
  font-family: 'Courier New', Courier, monospace
}

.ng-valid[required], .ng-valid.required{
  border-left: 5px solid green;
}

.ng-invalid:not(form){
  border-left: 5px solid red;
}